* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('logo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensures header takes full viewport height */
}

header h1 {
    color: black;
    font-size: 64px;
    text-transform: uppercase;
    letter-spacing: 8px;
    position: relative;
    z-index: 2; /* Keeps the title on top of the background */
    background-color: rgba(255, 255, 255, 0.6); /* Transparent white background */
    padding: 20px;
}

header h1::after {
    content: '';
    display: block;
    width: 200px;
    height: 5px;
    background-color: black;
    margin: 20px auto 0;
}

main {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    z-index: 2;
}

.column {
    width: 300px;
    padding: 20px;
    border-radius: 10px;
}

.react-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
}

.react-image:hover img {
    transform: scale(1.1); /* Hover effect that zooms in */
}

.react-image img:hover {
    animation: rotate 1.5s infinite;
}

@keyframes rotate {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.1) rotate(360deg);
    }
}
